$colorPrimaryWhite: #fff;
$colorPrimaryBlack: #2d2d2d;

$colorPrimaryRed: #fa7272;
$colorRedHover: #ff8888;

$colorPrimaryBorder: #4d4d4d;

$colorPrimaryBackground: #1d1d1d;
$colorSecondaryBackground: #262626;

$gradientSkeleton: linear-gradient(90deg, #3c3c3c 0%, #444 51.04%, #333 100%);
