@import './colors';
@import './fonts';

*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: $colorPrimaryBackground;
	font-family: 'SF Pro Display';
	color: $colorPrimaryWhite;
}

.button {
	border-radius: 0.5rem;
	border: none;

	font-size: 0.875rem;

	&_normal {
		background-color: $colorPrimaryWhite;
		color: $colorPrimaryBlack;
	}

	&_danger {
		background-color: $colorPrimaryRed;
		color: $colorPrimaryWhite;

		&:hover {
			background-color: $colorRedHover;
		}
	}
}
