@import './colors';
@import './fonts';

*,
*::before,
*::after {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	background-color: $colorPrimaryBackground;
	font-family: 'SF Pro Display';
	color: $colorPrimaryWhite;
}
